
<div class="container">
  <h1>Medicaments</h1>

  <% @medicines.each do |medicine| %>
    <h1><%= medicine.name %></h1>
     <%= link_to 'Details', medicine_path(medicine.id), class: 'btn btn-primary' %>
  <% end %>

</div>
