// Specific CSS for your home-page
html, body {
  margin: 0;
  // height: 100%;
  // background: linear-gradient(to bottom, #5D326C, #350048);
  width: 100%;
  min-height: 100vh;
  // background: linear-gradient(180deg, #00BFA6 5.21%, #7B63F4 97.4%, #7F61F7 99.99%, rgba(26, 196, 186, 0.0364583) 100%);
  font-family: Montserrat;
  // background: url('https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678377849/sl_0210121_40570_43_mrvzet.jpg')
  background-position: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// h1{
//   color: white;
//   font-size: 2.5em;
// }

// p{
//   color: white;
//   font-size: 1.875em;

// }
