<h1>Modifier Profil</h1>



<div class="container">
  <%= link_to 'Consultation', new_patient_consultation_path(@patient.id), class: "btn btn-primary" %>
  <%= link_to 'Editer profil', edit_patient_path(@patient.id) , class: "btn btn-primary" %>
</div>
