a {
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product .card-product-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product .card-product-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  color: black;
}

.card-product .card-product-infos {
  overflow: hidden;
  height: 120px;
  width: 70%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-around;
  border-radius: 8px;
}

h6 {
  padding: 0px 8px;
}
