.name {
  padding-top: 24px;
  padding-bottom: 24px;
  h1 {
    font-family: $text-font;
  }
}

.title {
  padding-top: 8px;
  h2 {
    font-family: $text-font;
  }
}

.searchbar {
  padding-top: 8px;
  padding-bottom: 18px;
}
