.navbar-lewagon {
  justify-content: space-between;
  color: rgb(12, 16, 16);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;


}

.navbar-expand-sm .navbar-nav .nav-link {
  color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
