.btn-grad {
background-image: linear-gradient(to right, #1ac4c1 0%, #af85ce 51%, #399be3 100%);
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.6s all;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
border: none;
}

.btn-grad:hover {
background-position: 75% 50%; /* change the direction of the change here */
color: #fff;
transform: perspective(100px);
text-decoration: none;
border: none;
}
